<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cpr4llp</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar">
        <a class="active" href="/vn/home-page"><i class="fa fa-fw fa-home"></i> Home page</a> 
        <a href="/vn/about-page"><i class="fa fa-fw fa-envelope"></i> About page</a> 
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
    
    <h1>{{ current_title }}</h1>
    {% block main %}
    {% endblock %}
</body>
</html>